// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #F9E400;
$orange: #E67E22;
$green: #1ABC9C;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #333;
$purple: #7C00FE;
