<h1>Venues#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-display-search-value="true"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
