<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<strong><%= link_to "event: #{@event.id}", event_path(@event), class: "text-decoration-none", style: "color: black;" %></strong>    </li>
