<footer class="footer-line">
<p>Follow us on </p>
  <div class="social-links d-flex justify-content-center">
    <a
      href="https://www.youtube.com/"
      target="_blank"
      title="Youtube Profile"
      aria-label="Youtube Profile">
      <i class="fa-brands fa-youtube"></i></i>
    </a>

    <a
      href="https://instagram.com/"
      target="_blank"
      title="instagram Profile"
      aria-label="Instagram Profile">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a
      href="https://www.facebook.com/"
      target="_blank"
      title="Facebook Profile"
      aria-label="Facebook Profile">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>

    <p class="text-center mt-3">
    this
    <a class="text-decoration-none" href="https://github.com/oscarj415/LaughUp" target="_blank" aria-label="Open Source Link"
    >open-sourced </a> project was coded by the best team ever existed:
    </p>


    <div class="authors d-flex justify-content-center">
      <a
      href="https://github.com/darko-img"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile - Darek">
      <i class="fa-brands fa-github"></i> Darek</a>

      <a
        href="https://github.com/oscarj415"
        target="_blank"
        title="GitHub Profile"
        aria-label="GitHub Profile - Oscar">
      <i class="fa-brands fa-github"></i> Oscar</a>

    <a
      href="https://github.com/Ta-Muna"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile - Tamari">
      <i class="fa-brands fa-github"></i> Tamari
      </a>

      <a
      href="https://github.com/Yutam38"
      target="_blank"
      title="GitHub Profile"
      aria-label="GitHub Profile - Yuta">
      <i class="fa-brands fa-github"></i> Yuta
    </a>
    </div>
    <p>© 2025 laughup, Inc.</p>
</footer>
