<h1>Events#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
  <% @events.each do |event| %>
    <li>
<strong><%= link_to "event: #{event.id}", event_path(event), class: "text-decoration-none", style: "color: black;" %></strong>    </li>
  <% end %>
</ul>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
