<h1>Events#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<strong><%= link_to "events", events_path, class: "text-decoration-none", style: "color: black;" %></strong>

<strong><%= link_to "comedian", user_path(@user), class: "text-decoration-none", style: "color: black;" %></strong>

<strong><%= link_to "venue", user_path(@user), class: "text-decoration-none", style: "color: black;" %></strong>

<div class="review">
  <%= f.input :user_type,
    collection: User.user_types.keys.reject { |w| w == "fan" }.map { |w| [w.titleize, w] },
    prompt: "Select User Type",
    required: true,
    input_html: {
    data: {
      action: "change->user-type#changeFields",
      user_type_target: "userType"
    }
  } %>
</div>
