<body style="overflow: hidden; height: 100vh;">
<div class="gallery-home">

<video autoplay loop muted playsinline>
  <source src="https://res.cloudinary.com/dvi6krnyh/video/upload/v1742466667/smiley_hz9gio.mp4" type="video/webm">
</video>

<div class="enter">
<strong><%= link_to "ENTER", events_path, class: "link" %></strong>
</div>

</div>
</body>
