
<div class="gallery">

<video autoplay loop muted playsinline>
  <source src="https://res.cloudinary.com/dvi6krnyh/video/upload/v1741959647/smiley_r74usi.webm" type="video/webm">
</video>

<div class="enter">
<strong><%= link_to "ENTER", events_path, class: "link" %></strong>
</div>

</div>
