<div class="gallery">
<br>
  <div class="head-text">
<h4>Upcoming Shows:</h4>
</div>



<strong><%= link_to "check out more events ➶", events_path, class: "link", style: "color: black;" %></strong>

</div>



