<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="filter-container">
        <h2>Filter</h2>
        <form action="#" method="GET">
            <div class="filter-field">
                <label for="filter1"></label>
                <input type="text" id="filter1" name="filter1" placeholder="Adress">
                <button type="submit" name="submit1"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="filter-field">
                <label for="filter2"></label>
                <input type="text" id="filter2" name="filter2" placeholder="Date">
                <button type="submit" name="submit2"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="filter-field">
                <label for="filter3"></label>
                <input type="text" id="filter3" name="filter3" placeholder="Comedian">
                <button type="submit" name="submit3"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="filter-field">
                <label for="filter4"></label>
                <input type="text" id="filter4" name="filter4" placeholder="Venue">
                <button type="submit" name="submit4"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

<div class="map-btn">
MAP
</div>

<div class="filter-btn">
<i class="fa-solid fa-sliders"></i>
</div>
