<body style="overflow: hidden; height: 100vh;">
<div class="gallery-home">

<div style="background-color: yellow;">
  <video autoplay muted playsinline loop webkit-playsinline disableRemotePlayback>
  <source src="https://res.cloudinary.com/dvi6krnyh/video/upload/v1741959647/smiley_r74usi.webm" type="video/webm">
  <source src="https://res.cloudinary.com/dvi6krnyh/video/upload/v1742466667/smiley_hz9gio.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
  const video = document.querySelector("video");
  if (video) {
    video.play().catch(error => {
      console.log("Autoplay failed:", error);
      video.controls = true; // Show controls as a fallback
    });
  }
});
  </script>

<div class="enter">
<strong><%= link_to "ENTER", events_path, class: "link" %></strong>
</div>

</div>
</body>
