<div class="gallery">
<br>
  <div class="head-text">
<h4>Upcoming Shows:</h4>
</div>

  <div class="items">
  <div class=comedian-img>
    <%= image_tag "justin_small.png", alt: "Comedian Justin" %>
  </div>
  <div class=info-text>
  Justin Small<br><br>
  MO, 10.03<br>20.00 UHR<br><br>Schinkel Bar<br>Franzoesische Str. 30<br>10117 Berlin
  </div>
  </div>

  <div class="items">
  <div class=comedian-img>
    <%= image_tag "olaf_schubert.png", alt: "Comedian Justin" %>
  </div>
  <div class=info-text>
  Olaf Schubert<br><br>
  MO, 11.03<br>19.00 UHR<br><br>Schinkel Bar<br>Franzoesische Str. 30<br>10117 Berlin
  </div>
  </div>
<strong><%= link_to "check out more events ➶", events_path, class: "link", style: "color: black;" %></strong>

</div>


<div class="filter-container">
        <div class="close-btn">X</div>
        <h2>Filter</h2>
        <form action="#" method="GET">
            <div class="filter-field">
                <label for="filter1"></label>
                <input type="text" id="filter1" name="filter1" placeholder="Adress">
                <button type="submit" name="submit1"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="filter-field">
                <label for="filter2"></label>
                <input type="text" id="filter2" name="filter2" placeholder="Date">
                <button type="submit" name="submit2"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="filter-field">
                <label for="filter3"></label>
                <input type="text" id="filter3" name="filter3" placeholder="Comedian">
                <button type="submit" name="submit3"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="filter-field">
                <label for="filter4"></label>
                <input type="text" id="filter4" name="filter4" placeholder="Venue">
                <button type="submit" name="submit4"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

<div class="map-btn">
Show Map
</div>

<div class="filter-btn">
<i class="fa-solid fa-sliders"></i>
</div>
