
.social-links{
  gap: 50px;
  margin-top: 10px;
  font-size: 30px;

  i{
    color: #000;
  }

  }

  .authors {
    text-decoration: none;
    gap: 40px;

      a{
      text-decoration: none;
      color: #000;
      }

}

.footer-line{
  border-top: 1px solid $purple;
  margin-top: 30px;
  font-family: Nunito;

  p{
    margin-top: 10px;
    text-align: center;
  }
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
