.social-links{
  gap: 50px;
  margin-top: 40px;
  font-size: 30px;

  i{
    color: #000;
  }

  }

  .authors {
    text-decoration: none;
    gap: 40px;

      a{
      text-decoration: none;
      color: #000;
      }

}
