.social-links{
  gap: 50px;
  margin-top: 10px;
  font-size: 30px;

  i{
    color: $yellow
  }

  }

  .authors {
    text-decoration: none;
    gap: 40px;
    margin-bottom: 10px;

      a{
      text-decoration: none;
      color: $yellow
      }

}

.footer-info{
color: $yellow;
margin-bottom: 5px;
text-decoration: none;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.footer-container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}
.footer-line {
  border-top: 1px solid $yellow;
  font-family: Nunito;
  p {

    text-align: center;
  }
}
