.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.form-inputs input,
.form-inputs select,
.form-inputs textarea {
  border-radius: 10px;
  background: none;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid $purple;
  margin-bottom: 10px;
  background: rgb(249, 246, 227);
}

.form-check,
.form-check-input {
  margin-left: 0.75rem;
}

.form-check-label.boolean.optional {
  padding-top: 0.70rem;
}

.form-action-container{
  display: flex;
  justify-content: center;
}

.form-actions .button{
  font-size: 2rem;
  height: 60px;
  width: 125px;
  outline: 1px solid $purple;
  color: $purple;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 250ms;

  &:hover {
    color: $yellow;
    background-color: $purple;
  }
}

.render-links a {
  position: relative;
  color: $purple;
  margin-left: 1rem;
  top: 3.5rem;
}
