.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.form-inputs input,
.form-inputs select,
.form-inputs textarea {
  border-radius: 15px;
  padding: 20px;
  background: none;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 10px;
  background: rgb(249, 246, 227);
}

.form-action-container{
  display: flex;
  justify-content: center;
}

.form-actions .button{
  font-size: 2rem;
  height: 70px;
  width: 150px;
  outline: 4px solid $purple;
  color: $purple;
  border-radius: 30px;
  cursor: pointer;
}

.render-links a {
  color: $purple;

}
