.navbar-lewagon {
  justify-content: space-between;
  background:  $yellow;
  padding: 0;
  z-index: 10;
}

.container-fluid{
  padding:0px;
}

.laugh{
  color: $purple;
  font-size: 50px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.navbar-lewagon .navbar-collapse {
  position: fixed;
  flex-grow: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  display: flex;
  justify-content: center;
  transform: translateY(-100%); // is hidden above the screen, moves on Y
  transition: 0.5s ease-in-out;
}

.navbar-lewagon .navbar-collapse.show {
  transform: translateY(0); // moved down when its active
}

// .navbar-nav{
//   height: 100vh;
//   padding-left: 20px;
//   // margin-top: 110px;
//   margin-bottom: 30px;
// }

// .nav-item {
//   display: inline;
// }

.nav-link{
  font-family: 'BM-HANNA', sans-serif;
  color: $yellow;
  background: none;
  font-size: 2rem;
  margin: 10px 0;
  display: inline-block;
}

.nav-link + .nav-link::before {
  content: " / ";
  margin: 0 10px;
}

.sign-up {
  font-weight: 300;
  font-size: 14px;
}

.navbar-toggler{
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  padding-right: 1rem;

}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.bar {
  width: 35px;
  height: 6px;
  background-color:$purple;
  border-radius: 2px;
}

.close-menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 3rem;
  color: $yellow;
  cursor: pointer;
  z-index: 1050;
}

.close-menu:hover {
  background: none;
  border: none;
  color: $yellow;
}

.line{
  border-bottom: 4px solid $purple;
}


.navbar-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.navbar-content {
  width: 100%;
  max-width: 600px;
}
